/* CreatePost.css */

.form-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    margin: 0 auto; /* Center the form */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .form-container input,
  .form-container input {
    margin-bottom: 15px;
    font-size: 16px;
    padding: 14px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
  }
  
  .form-container input[type="text"]:focus,
  .form-container .ql-container.ql-snow:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .form-container button {
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-container button:hover {
    background-color: #0056b3;
  }
  